@tailwind base;
@tailwind components;
@tailwind utilities;

.beat {
    animation-name: heart;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    90% {
        transform: scale(0.7);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
